{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>GRAMMATICAL TAGS</title>
    <script src="{% static "js/jquery.js" %}"></script>
    <link href="{% static "css/bootstrap.flatly.css" %}" rel="stylesheet">
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">
          <link href="{% static "css/style.css" %}" rel="stylesheet">
          <link href="{% static "css/styles.css" %}" rel="stylesheet">
	<script language="JavaScript" src="{% static "js/gramsel.js" %}"></script>
	<script language="JavaScript" src="{% static "js/urlprocessor.js" %}"></script>

</head>
<body onLoad="InitWindow()">
<div class="container">
<div class="row">

  <form name="gramForm" id="gramForm" action="">
      <div class="row">
        <div class="col-sm-3">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 title="Invert" class="panel-title activeA  gr_inv grammar" onClick="inverse('gender')">Род</h3>
        </div>
        <div class="panel-body">
                <div class="gr_group">
                <div>
                    <input type="checkbox" name="gender" value="m" id="genderm">&nbsp;<label for="genderm">m</label><br/>
<input type="checkbox" name="gender" value="n" id="gendern">&nbsp;<label for="gendern">n</label><br/>
<input type="checkbox" name="gender" value="f" id="genderf">&nbsp;<label for="genderf">f</label><br/>
<input type="checkbox" name="gender" value="mf" id="gendermf">&nbsp;<label for="gendermf">mf</label><br/>
                </div>
            </div>
        </div>
      </div>
            <div class="panel panel-success">
        <div class="panel-heading">
          <h3 title="Invert" class="panel-title gr_inv activeA grammar" onClick="inverse('case')">Падеж</h3>
        </div>
        <div class="panel-body">
                <div class="gr_group">
                <div>
                    <input type="checkbox" name="case" value="nom" id="casenom">&nbsp;<label for="casenom">nom</label><br/>
<input type="checkbox" name="case" value="acc" id="caseacc">&nbsp;<label for="caseacc">acc</label><br/>
<input type="checkbox" name="case" value="dat" id="casedat">&nbsp;<label for="casedat">dat</label><br/>
<input type="checkbox" name="case" value="gen" id="casegen">&nbsp;<label for="casegen">gen</label><br/>
<input type="checkbox" name="case" value="ins" id="caseins">&nbsp;<label for="caseins">ins</label><br/>
<input type="checkbox" name="case" value="loc" id="caseloc">&nbsp;<label for="caseloc">loc</label><br/>
<input type="checkbox" name="case" value="loc2" id="caseloc2">&nbsp;<label for="caseloc2">loc2</label><br/>
<input type="checkbox" name="case" value="gen2" id="casegen2">&nbsp;<label for="casegen2">gen2</label><br/>
                </div>
            </div>
        </div>
      </div>
            <div class="panel panel-success">
        <div class="panel-heading">
          <h3 title="Invert" class="panel-title activeA grammar" onClick="inverse('compform')">Степень/краткость</h3>
        </div>
        <div class="panel-body">
                <div class="gr_group">
                <div>
                    <input type="checkbox" name="compform" value="comp" id="compformcomp">&nbsp;<label for="compformcomp">comp</label><br/>
<input type="checkbox" name="compform" value="comp2" id="compformcomp2">&nbsp;<label for="compformcomp2">comp2</label><br/>
<input type="checkbox" name="compform" value="supr" id="compformsupr">&nbsp;<label for="compformsupr">supr</label><br/>
<input type="checkbox" name="compform" value="plen" id="compformplen">&nbsp;<label for="compformplen">plen</label><br/>
<input type="checkbox" name="compform" value="brev" id="compformbrev">&nbsp;<label for="compformbrev">brev</label><br/>
                </div>
            </div>
        </div>
      </div>
          </div>
          <div class="col-sm-3">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 title="Invert" class="gr_inv panel-title activeA grammar" onClick="inverse('number')">Число</h3>
        </div>
        <div class="panel-body">
                <div class="gr_group">
                <div>
                    <input type="checkbox" name="number" value="sg" id="numSG">&nbsp;<label for="numSG">sg</label><br/>
<input type="checkbox" name="number" value="pl" id="numPL">&nbsp;<label for="numPL">pl</label><br/>
                </div>
            </div>
        </div>
      </div>
            <div class="panel panel-success">
        <div class="panel-heading">
          <h3 title="Invert" class="panel-title activeA grammar gr_inv" onClick="inverse('animacy')">Одушевленность</h3>
        </div>
        <div class="panel-body">
                <div class="gr_group">
                <div>
                    <input type="checkbox" name="animacy" value="anim" id="animANIM">&nbsp;<label for="animANIM">anim</label><br/>
<input type="checkbox" name="animacy" value="inan" id="animINAN">&nbsp;<label for="animINAN">inan</label><br/>
                </div>
            </div>
        </div>
      </div>
          <div class="panel panel-success">
        <div class="panel-heading">
          <h3 title="Invert" class="panel-title activeA grammar gr_inv"  onClick="inverse('other')">Прочее</h3>
        </div>
        <div class="panel-body">
                <div class="gr_group">
                <div>
                    <input type="checkbox" name="other" value="ciph" id="otherciph">&nbsp;<label for="otherciph">ciph</label><br/>
<input type="checkbox" name="other" value="anom" id="otheranom">&nbsp;<label for="otheranom">anom</label><br/>
<input type="checkbox" name="other" value="distort" id="otherdistort">&nbsp;<label for="otherdistort">distort</label><br/>
<input type="checkbox" name="other" value="INIT" id="otherINIT">&nbsp;<label for="otherINIT">INIT</label><br/>
<input type="checkbox" name="other" value="abbr" id="otherabbr">&nbsp;<label for="otherabbr">abbr</label><br/>
<input type="checkbox" name="other" value="0" id="other0">&nbsp;<label for="other0">0</label><br/>
<input type="checkbox" name="other" value="topon" id="othertopon">&nbsp;<label for="othertopon">topon</label><br/>
                </div>
            </div>
        </div>
      </div>
          </div>
      <div class="col-sm-3">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 title="Invert" class="panel-title gr_inv activeA grammar"  onClick="inverse('mood')">Наклонение/форма</h3>
        </div>
        <div class="panel-body">
                <div class="gr_group">
                <div>
                    <input type="checkbox" name="mood" value="indic" id="moodindic">&nbsp;<label for="moodindic">indic</label><br/>
<input type="checkbox" name="mood" value="imper" id="moodimper">&nbsp;<label for="moodimper">imper</label><br/>
<input type="checkbox" name="mood" value="imper2" id="moodimper2">&nbsp;<label for="moodimper2">imper2</label><br/>
<input type="checkbox" name="mood" value="inf" id="moodinf">&nbsp;<label for="moodinf">inf</label><br/>
<input type="checkbox" name="mood" value="partcp" id="moodpartcp">&nbsp;<label for="moodpartcp">partcp</label><br/>
<input type="checkbox" name="mood" value="ger" id="moodger">&nbsp;<label for="moodger">ger</label><br/>
                </div>
            </div>
        </div>
      </div>
            <div class="panel panel-success">
        <div class="panel-heading">
          <h3  title="Invert" class="panel-title activeA grammar gr_inv"  onClick="inverse('tense')">Время</h3>
        </div>
        <div class="panel-body">
                <div class="gr_group">
                <div>
                    <input type="checkbox" name="tense" value="praes" id="tensepraes">&nbsp;<label for="tensepraes">praes</label><br/>
<input type="checkbox" name="tense" value="fut" id="tensefut">&nbsp;<label for="tensefut">fut</label><br/>
<input type="checkbox" name="tense" value="praet" id="tensepraet">&nbsp;<label for="tensepraet">praet</label><br/>
                </div>
            </div>
        </div>
      </div>
          <div class="panel panel-success">
        <div class="panel-heading">
          <h3  title="Invert" class="panel-title gr_inv activeA grammar"  onClick="inverse('asp')">Вид</h3>
        </div>
        <div class="panel-body">
                <div class="gr_group">
                <div>
                    <input type="checkbox" name="asp" value="pf" id="asppf">&nbsp;<label for="asppf">pf</label><br/>
<input type="checkbox" name="asp" value="ipf" id="aspipf">&nbsp;<label for="aspipf">ipf</label><br/>
                </div>
            </div>
        </div>
      </div>
          </div>
      <div class="col-sm-3">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 title="Invert" class="panel-title activeA gr_inv grammar"  onClick="inverse('person')">Лицо</h3>
        </div>
        <div class="panel-body">
                <div class="gr_group">
                <div>
                    <input type="checkbox" name="person" value="1p" id="person1p">&nbsp;<label for="person1p">1p</label><br/>
<input type="checkbox" name="person" value="2p" id="person2p">&nbsp;<label for="person2p">2p</label><br/>
<input type="checkbox" name="person" value="3p" id="person3p">&nbsp;<label for="person3p">3p</label><br/>
                </div>
            </div>
        </div>
      </div>
            <div class="panel panel-success">
        <div class="panel-heading">
          <h3 title="Invert" class="panel-title gr_inv activeA grammar"  onClick="inverse('form')">Залог</h3>
        </div>
        <div class="panel-body">
                <div class="gr_group">
                <div>
                    <input type="checkbox" name="form" value="act" id="formact">&nbsp;<label for="formact">act</label><br/>
<input type="checkbox" name="form" value="pass" id="formpass">&nbsp;<label for="formpass">pass</label><br/>
<input type="checkbox" name="form" value="med" id="formmed">&nbsp;<label for="formmed">med</label><br/>
                </div>
            </div>
        </div>
      </div>
          <div class="panel panel-success">
        <div class="panel-heading">
          <h3 title="Invert" class="panel-title gr_inv activeA grammar" onClick="inverse('tr')">Переходность</h3>
        </div>
        <div class="panel-body">
                <div class="gr_group">
                <div>
                    <input type="checkbox" name="tr" value="tran" id="trtran">&nbsp;<label for="trtran">tran</label><br/>
<input type="checkbox" name="tr" value="intr" id="trintr">&nbsp;<label for="trintr">intr</label><br/>
                </div>
            </div>
        </div>
      </div>
          <div class="panel panel-success">
        <div class="panel-heading">
          <h3 title="Invert" class="panel-title  gr_inv activeA grammar"  onClick="inverse('names')">Имена собственные</h3>
        </div>
        <div class="panel-body">
                <div class="gr_group">
                <div>
                    <input type="checkbox" name="names" value="famn" id="namesfamn">&nbsp;<label for="namesfamn">famn</label><br/>
<input type="checkbox" name="names" value="persn" id="namespersn">&nbsp;<label for="namespersn">persn</label><br/>
<input type="checkbox" name="names" value="patrn" id="namespatrn">&nbsp;<label for="namespatrn">patrn</label><br/>
                </div>
            </div>
        </div>
      </div>
          </div>

      </div>
      <div class="row">
          <div class="col-sm-12">
      <div class="panel-footer" align="center">
  <input type="button" class="btn btn-default" onClick="collect();return false;" value="OK">
		<input type="button" class="btn btn-default" onClick="document.all.gramForm.reset();return false;" value="CLEAR">
		<input type="button" class="btn btn-default" onClick="window.close();return false;" value="CANCEL">

          </div>
              </div>
          </div>
  </form>

</div>
    </div>
</body>
</html>