{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
    {% trans 'Help' %}
{% endblock %}

{% block meta_content %}
    {% trans 'Help' %}
{% endblock %}

{% block upper-row %}
<div id="masthead">
  <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 id="top">{% trans 'Help' %}
            <p class="lead">{% trans 'XIX century corpus' %}</p>
          </h1>
        </div>
      </div>
  </div>
</div>
{% endblock %}

{% block content %}
    This is help page.
{% endblock content %}