{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}
    {% trans 'News' %}
{% endblock %}

{% block meta_content %}
    {% trans 'News' %}
{% endblock %}

{% block upper-row %}
<div id="masthead">
  <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 id="top">{% trans 'News' %}
            <p class="lead">{% trans '19th century corpus' %}</p>
          </h1>
        </div>
      </div>
  </div>
</div>
{% endblock %}

{% block content %}
{% for article in articles %}
     <strong>{{ article.date }}</strong>
    <p>{{ article.text_eng }} </p>
    {% endfor %}
{% endblock content %}