{% extends "base.html" %}

{% block title %} News{% endblock %}
{% block meta_content %}News{% endblock %}

{% block content_header %}News{% endblock content_header %}
{% block top-name %}
          Corpus News
          {% endblock %}
{% block upper-row %}
<div id="masthead">
  <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 id="top">News
            <p class="lead">19th Century Corpus</p>
          </h1>
        </div>
      </div>

  </div><!--/container-->
</div><!--/masthead-->
{% endblock %}

{% block content %}
{% for article in articles %}
     <strong>{{ article.date }}</strong>
    <p>{{ article.text_eng }} </p>
    {% endfor %}

{% endblock content %}