{% extends "base.html" %}

{% block title %}
    Statistics

{% endblock %}
{% block meta_content %}
    Statistics
{% endblock %}

{% block upper-row %}
<div id="masthead">
  <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 id="top">19th century
            <p class="lead">19th Century Corpus</p>
          </h1>
        </div>
      </div>

  </div><!--/container-->
</div><!--/masthead-->
{% endblock %}

{% block content %}

    This is statistics page.


{% endblock content %}